h1 {
  box-sizing: border-box;
  text-align: center;
  font-size: 50px;
  color: white;
  font-weight: bold;
  font-style: italic;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  width: 1400px;
  padding: 30px;
  border: 10px solid white;
  margin: 10px 40px 100px 40px;
  position: relative;
}

#image {
  box-sizing: content-box;
  padding: 20px;
  margin: 0px 600px;
  position: static;
}

body {
  background-color: rgb(209, 139, 118);
}

main a {
  box-sizing: border-box;
  padding: 10px;
  border: 5px white;
  margin: 100px 30px;
  color: rgb(255, 255, 255);
}

footer {
  text-align: center;
  color: rgb(255, 255, 255);
  margin: 100px;
}

a:hover {
  font-weight: bolder;
}

input:required {
  border: 2px solid;
}

main {
  text-align: start;
  font-style: italic;
}

.second {
  color: black;
}
